<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Users</title>
</head>
<body>
<h2>Users</h2>
<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>E-Mail</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="user : ${user}">
        <form action="#" th:action="@{/users/update}" th:object="${user}" method="post" >
            <td th:utext="${all_us}"></td>
            <td><input type="text" th:value="${user.name}" th:name="name" th:id="name"/></td>
            <td><input type="text" th:value="${user.lastname}" th:name="lastName" th:id="lastName"/></td>
            <td><input type="text" th:value="${user.email}" th:name="email" th:id="email"/></td>
            <td colspan="3">
                <input type="hidden" name="id" id="id" th:value="${user.id}" />
                <button type="submit" name="submit" value="value" class="link-button">Update</button>
            </td>
        </form>
        <td colspan="3">
            <form th:action="@{/users/delete}" th:object="${user}" method="post">
                <input type="hidden" name="id" th:value="${user.id}" />
                <input type="hidden" name="name" th:value="${user.name}" />
                <input type="hidden" name="lastname" th:value="${user.lastname}" />
                <input type="hidden" name="email" th:value="${user.email}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<br/>
<form>
<a href="@{/people/add_users}">Add New User</a>
<!--    <tr>-->
<!--        <td colspan="3"><input type="submit" value="Add User"/></td>-->
<!--    </tr>-->
</form>
</body>
</html>
